@main-color: rgb(33, 16, 110);
@second-color: rgb(255, 255, 255);
@base-size: 13px;
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: @base-size;
}

body {
    background-image: url("../images/blue.jpg");
    background-color: @main-color;
    background-attachment: fixed;
    margin-top: 1%;
    //scrolling
    background-size: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 0 !important;
}

//
#mainD {
    overflow: hidden;
}

.row {
    margin: 0px !important;
}

//header
header {
    overflow: hidden;
    padding: 0px !important;
    margin-bottom: 25px;
}

header .form-group {
    margin: auto;
    text-align: center;
    padding: 0px;
    position: relative;
    margin: auto;
    margin-top: 3%;

    #search {
        min-height: 20px;
        min-width: 20px;
        display: inline-block;
        background-image: url("/images/search.png");
        background-size: cover;
        position: absolute;
        margin: 1%;
        z-index: 1;
    }

    #inp {
        min-width: 190px;
        display: inline-block;
        background: rgba(83, 154, 247, 0.733);
        border: none;
        border-radius: 5px;
        color: rgb(0, 0, 0);
    }

    #inp::placeholder {
        color: rgb(0, 0, 0);
    }

    #inp {
        text-indent: 32px;
    }
}

.cityName {
    font-size: 1.5em;
    font-weight: bold;
}

//grid
#myGrid {
    padding: 0%;

    .grid-container {
        display: grid;
        text-align: center;
        align-items: stretch;

        .grid-item {
            background-color: rgba(247, 247, 247, 0.233);
            font-size: 1.2em;
            text-align: center;
            margin: 5%;
            min-height: 120px;
            padding: 15px;

            * {
                color: rgb(255, 255, 255);

            }

            small {
                float: left;
            }

            h1 {
                font-size: 1.5em;
                padding: 23%;
                .dayTemp {
                    font-size: 1.8em;
                }
            }

            #sunnyRainy {
                float: left;
            }

            h3 {
                padding: 13%;
                font-size: 1.2em;
            }

            i {
                font-size: 3em;
                margin: 15%;
                margin-top: 25%;
            }

            .dayTemp,
            .nightTemp {
                font-size: 1.0025em;
            }
        }

        #current {
            background-color: rgba(247, 247, 247, 0);

            h1 {
                margin-top: 20%;
                font-size: 3em;
            }
        }
    }
}

.img-container {
    text-align: center;
}

@media (max-width: 575px) {

    /* smartphone */
    #myGrid {
        .grid-container {
            grid-template-columns: 1fr;

            .grid-item {
                margin-left: 25%;
                margin-right: 25%;
            }
        }
    }
}

@media (min-width: 575px) {
    .grid-container {
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
    }

    .img-container {
        input[type=image] {
            //.arrowTurn {
            -webkit-transform: translateX(-100%) rotate(-90deg);
            /* Safari */
            -moz-transform: translateX(-100%) rotate(-90deg);
            /* Firefox 3.6 Firefox 4 */
            -ms-transform: translateX(-100%) rotate(-90deg);
            /* IE9 */
            -o-transform: translateX(-100%) rotate(-90deg);
            /* Opera */
            transform: translateX(-100%) rotate(-90deg);
            /* W3C */
            -webkit-transform-origin: top right;
            -moz-transform-origin: top right;
            -ms-transform-origin: top right;
            -o-transform-origin: top right;
            transform-origin: top right;
            float: right;
        }
    }

    .form-group {
        float: right;
    }
}