@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
body {
  background-image: url("../images/blue.jpg");
  background-color: #21106e;
  background-size: 100%;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 0 !important;
}
header {
  overflow: hidden;
}
header .input-group {
  width: 65%;
  padding: 0px;
  float: right;
}
input[type=button] {
  background-image: url("/images/search.png");
  background-size: cover;
}
.cityName {
  font-size: 1.5em;
  font-weight: bold;
}
#myGrid .grid-container {
  display: grid;
  padding: 5px;
  width: 80%;
  margin: auto;
}
#myGrid .grid-container .grid-item {
  background-color: rgba(247, 247, 247, 0.233);
  font-size: 1.2em;
  text-align: center;
  margin: 5%;
  min-height: 190px;
}
#myGrid .grid-container .grid-item * {
  color: #ffffff;
}
#myGrid .grid-container .grid-item small {
  float: left;
}
#myGrid .grid-container .grid-item h1 {
  font-size: 1.5em;
  margin-top: 50%;
}
#myGrid .grid-container .grid-item h1 .dayTemp {
  font-size: 1.8em;
}
#myGrid .grid-container .grid-item #sunnyRainy {
  float: left;
}
#myGrid .grid-container .grid-item h3 {
  font-size: 1em;
}
#myGrid .grid-container .grid-item i {
  font-size: 3em;
  margin: 15%;
  margin-top: 25%;
}
#myGrid .grid-container .grid-item .dayTemp,
#myGrid .grid-container .grid-item .nightTemp {
  font-size: 1.0025em;
}
.img-container {
  text-align: center;
}
input[type=image] {
  color: #ffffff;
}
@media (max-width: 575px) {
  /* smartphone */
  #myGrid .grid-container {
    grid-template-columns: auto;
  }
  #myGrid .grid-container .grid-item {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media (min-width: 575px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
  }
  .img-container input[type=image] {
    -webkit-transform: translateX(-100%) rotate(-90deg);
    /* Safari */
    -moz-transform: translateX(-100%) rotate(-90deg);
    /* Firefox 3.6 Firefox 4 */
    -ms-transform: translateX(-100%) rotate(-90deg);
    /* IE9 */
    -o-transform: translateX(-100%) rotate(-90deg);
    /* Opera */
    transform: translateX(-100%) rotate(-90deg);
    /* W3C */
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
    float: right;
  }
}
